body{
  margin:0;
  font-family:sans-serif;
  background:linear-gradient(135deg,#ff512f,#dd2476);
  text-align:center;
  color:white;
}

.board{
  width:450px;
  height:450px;
  margin:20px auto;
  display:grid;
  grid-template-columns:repeat(15,1fr);
  grid-template-rows:repeat(15,1fr);
  background:white;
}

.cell{
  border:1px solid #ddd;
  position:relative;
}

.home-red{background:#ff4d4d;}
.home-blue{background:#4da6ff;}

.token{
  width:70%;
  height:70%;
  border-radius:50%;
  position:absolute;
  top:15%;
  left:15%;
}

.red{background:red;}
.blue{background:blue;}

.dice{
  font-size:40px;
  margin:10px;
}
