body{
  margin:0;
  background:#222;
  color:white;
  font-family:sans-serif;
  text-align:center;
}

.board{
  width:400px;
  height:400px;
  margin:20px auto;
  display:grid;
  grid-template-columns:repeat(10,1fr);
  grid-template-rows:repeat(10,1fr);
}

.cell{
  border:1px solid #444;
}

.path{
  background:#eee;
}

.token{
  width:80%;
  height:80%;
  border-radius:50%;
  margin:auto;
}

.red{background:red;}
.blue{background:blue;}
